{% extends "base.html" %}

{% block content %}
<h1>Add New Menu</h1>

<form method="POST">
    <!-- Menu Name -->
    <div class="form-group">
        <label for="name">Menu Name</label>
        <input type="text" id="name" name="name" class="form-control" required>
    </div>

    <!-- Start Date -->
    <!-- Start Date -->
    <!-- Start Date -->
    <div class="form-group">
        <label for="start_date">Start Date</label>
        <input type="date" id="start_date" name="start_date" class="form-control" value="{{ datetime.today().strftime('%Y-%m-%d') }}" required>
    </div>



    <!-- Is Template Checkbox -->
    <div class="form-group form-check">
        <input type="checkbox" id="is_template" name="is_template" class="form-check-input">
        <label class="form-check-label" for="is_template">Is Template?</label>
    </div>

    <hr>

    <!-- Days of the Week -->
    {% for day in ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'] %}
    <div class="form-group">
        <label>{{ day.capitalize() }}:</label>

        <!-- Breakfast -->
        <div class="form-group">
            <label for="{{ day }}_breakfast">Breakfast</label>
            <select id="{{ day }}_breakfast" name="{{ day }}_breakfast" class="form-control" required>
                <option value="">Select Breakfast</option>
                {% for meal in meals %}
                <option value="{{ meal.id }}">{{ meal.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Lunch -->
        <div class="form-group">
            <label for="{{ day }}_lunch">Lunch</label>
            <select id="{{ day }}_lunch" name="{{ day }}_lunch" class="form-control" required>
                <option value="">Select Lunch</option>
                {% for meal in meals %}
                <option value="{{ meal.id }}">{{ meal.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Dinner -->
        <div class="form-group">
            <label for="{{ day }}_dinner">Dinner</label>
            <select id="{{ day }}_dinner" name="{{ day }}_dinner" class="form-control" required>
                <option value="">Select Dinner</option>
                {% for meal in meals %}
                <option value="{{ meal.id }}">{{ meal.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <hr>
    {% endfor %}

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Add Menu</button>
</form>

{% if messages %}
    <div class="alert alert-info">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}
