{% extends "base.html" %}

{% block content %}
<div>
    <h1 class="text-center">Add New Meal</h1>
    <form action="{{ url_for('meal_bp.add_meal') }}" method="POST" class="form-container">
        <div class="form-group">
            <label for="name">Meal Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="time">Time (Breakfast/Lunch/Dinner):</label>
            <input type="text" id="time" name="time" required>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" required step="0.01">
        </div>

        <div class="form-group">
            <label for="inventory">Inventory Description:</label>
            <input type="text" id="inventory" name="inventory" required>
        </div>

        <input type="submit" value="Add Meal" class="button">
    </form>

    <a href="{{ url_for('meal_bp.view_meals') }}" class="btn-back">
        ← Back
    </a>
</div>
{% endblock %}
