{% extends "base.html" %}

{% block content %}
<div>
    <h1 class="text-center">Add New Menu</h1>
    <form action="{{ url_for('menu_bp.add_menu') }}" method="POST" class="form-container">
        <div class="form-group">
            <label for="weekday">Weekday:</label>
            <input type="text" id="weekday" name="weekday" required>
        </div>

        <div class="form-group">
            <label for="meal_type">Meal Type:</label>
            <input type="text" id="meal_type" name="meal_type" required>
        </div>

        <div class="form-group">
            <label for="items">Items:</label>
            <input type="text" id="items" name="items" required>
        </div>

        <input type="submit" value="Add Menu">
    </form>

    <a href="{{ url_for('menu_bp.view_menus') }}" class="btn-back">
        ← Back
    </a>
</div>
{% endblock %}
