{% extends "base.html" %}

{% block content %}
<div>
    <h1 class="text-center">Add New User</h1>
    <form action="{{ url_for('user_bp.add_user') }}" method="POST" class="form-container">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="role">Role:</label>
            <input type="text" id="role" name="role" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <input type="submit" value="Add User">
    </form>

    <a href="{{ url_for('user_bp.view_users') }}" class="btn-back">
        ← Back
    </a>
</div>
{% endblock %}
