{% extends "base.html" %}

{% block content %}
<div>
    <h1 class="text-center">Welcome to the Mess Management System</h1>

    <div class="mt-4 text-center">
        {% if session.get('user_id') %}
            <a href="{{ url_for('user_bp.view_users') }}" class="button">Manage Users</a>
            <a href="{{ url_for('meal_bp.view_meals') }}" class="button">Manage Meals</a>
            <a href="{{ url_for('auth_bp.logout') }}" class="button" style="background-color: red;">Logout</a>
        {% else %}
            <a href="{{ url_for('auth_bp.login') }}" class="button">Login</a>
        {% endif %}
    </div>
</div>
{% endblock %}
