{% extends "base.html" %}

{% block content %}
<div>
    <h2 class="text-center">All Meals</h2>
    <a href="{{ url_for('meal_bp.add_meal') }}" class="button">Add New Meal</a>
    <a href="{{ url_for('index') }}" class="btn-back">← Home</a>

    <table class="custom-table">
        <thead>
            <tr>
                <th>Meal ID</th>
                <th>Name</th>
                <th>Time</th>
                <th>Price</th>
                <th>Inventory</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for meal in meals %}
            <tr>
                <td>{{ meal.meal_id }}</td>
                <td>{{ meal.name }}</td>
                <td>{{ meal.time }}</td>
                <td>{{ meal.price }}</td>
                <td>{{ meal.inventory }}</td>
                <td>
                    <a href="{{ url_for('meal_bp.edit_meal', meal_id=meal.id) }}" class="button" style="background-color: orange;">Edit</a>
                    <a href="{{ url_for('meal_bp.delete_meal', meal_id=meal.id) }}" class="button" style="background-color: red;">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
