{% extends "base.html" %}

{% block content %}
<div>
    <h2 class="text-center">All Users</h2>
    <a href="{{ url_for('user_bp.add_user') }}" class="button">Add New User</a>
    <a href="{{ url_for('index') }}" class="btn-back">← Home</a>

    <table class="custom-table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{{ url_for('user_bp.edit_user', user_id=user.id) }}" class="button" style="background-color: orange;">Edit</a>
                    <a href="{{ url_for('user_bp.delete_user', user_id=user.id) }}" class="button" style="background-color: red;">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
